# Supabase Project Configuration
# Dapatkan dari Dashboard Supabase -> Project Settings -> API
VITE_SUPABASE_URL=https://your-project-id.supabase.co
VITE_SUPABASE_ANON_KEY=your-anon-key-here

# Sekolah Default
VITE_SCHOOL_NAME="SMKN 1 Ciomas"
VITE_CLASS_NAME="XI PPLG 3"
